@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.header-section {
    width: 80%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.logo-section {
    display: flex;
    width: 40%;
    gap: 20px;
}

.logo-section img {
    height: 45px;
}

.logo-title {
    font-size: 36px;
    font-weight: 800;
}

.ban {
    color: forestgreen;
}

.glad {
    color: red;
}

.menu ul i {
    color: white;
  }
  
  .menu ul {
    display: flex;
    gap: 44px;
  }
  .menu ul a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
  }


  .banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/img1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 80%;
    height: 60vh;
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }
  
  .banner .banner-title {
    color: white;
    font-size: 64px;
    font-weight: 800;
    padding-top: 106px;
  }
  .banner .banner-text {
    color: white;
    width: 676px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }
  form{
    display: flex;
    width: 80%;
    align-items: center;
    margin: 20px auto;
    justify-content: space-around;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    
}

.inputs{
    width: 15.2%;
    height: 54px;
    border-radius: 8px;
background: #FFF;
padding-left: 16px;
}

.inputs:focus {
    outline: none; 
}

#border-problem{
    border: none;
}
.weight-problem{
color: rgba(19, 19, 24, 0.50);
font-family: Mulish;
font-weight: 400;
font-size: 1rem;
}
  
.btn-primary{
width: 15.2%;
height: 54px;
border-radius: 8px;
background: #FF5400;
border: none;
color: #FFF;
font-size: 1rem;
font-weight: 700;
padding: 16px;
}

#line {
    display: flex;
    align-items: center;
    
}

.Populars {
  width: 80%;
  margin: 100px auto;
  display: flex;
}
.Popular-content {
  width: 50%;
  padding: 20px;
}
.Popular-description{
margin: 20px 0;
}
.tours-images {
  display: block;
  width: 50%;
  height: 100%;
  align-items: center;
  margin-left: 53px;
}
.tours-images img {
  width: 100%;
}
.common-btn {
  border-radius: 8px;
  background: #ff5400;
  width: 174px;
  height: 52px;
  font-size: 20px;
  font-weight: 800;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
.Destination-section{
width: 80%;
margin: 0 auto;
}
.Destination-text-section{
    text-align: center;
}
.place{
    position: relative;
    bottom: 155px;
    color: white;
    font-weight: 700;
    font-size: 30px;
    }
.container {
  margin-top: 48px;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 24px 24px;
  grid-auto-flow: row;
  grid-template-areas:
    "Maldives Maldives Maldives Indonesia Indonesia Indonesia"
    "Srilanka Srilanka North-America North-America Kashmir Kashmir"
    "Bangladesh Bangladesh Bandarban Bandarban Bandarban Bandarban";
}
.container img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
}

.Maldives {
  grid-area: Maldives;
}

.Indonesia {
  grid-area: Indonesia;
}

.Srilanka {
  grid-area: Srilanka;
}

.North-America {
  grid-area: North-America;
}

.Kashmir {
  grid-area: Kashmir;
}

.Bangladesh {
  grid-area: Bangladesh;
}

.Bandarban {
  grid-area: Bandarban;
}

.Agency {
    width: 80%;
    margin: 30px auto;
    margin-bottom: 100px;
  }
  .card-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .Handpicked-Hotels {
    flex-basis: 573px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.2);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px 79px 32px 32px;
  }
  .card-two {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.2);
    background: rgba(41, 206, 246, 0.05);
  }
  .card-three {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.2);
    background: rgba(233, 68, 68, 0.05);
  }
  .Handpicked-title {
    
    font-size: 24px;
    font-weight: 800;
  }
  .card-text {
    
    color: #5a5a5d;
    line-height: 26px;
  }

.card-section .relative{
    position: relative;
    left: 350px;
}
 .blog{
    width: 80%;
    margin: 20px auto;
 }
 .blog-title{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 800;
 }
 .blog-videos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
 }
 .overall-news{
    width: 80%;
    margin: 100px auto;
}
.news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.news-content{
    padding: 40px;
    border-radius: 16px;
border: 1px solid #FF5400;
text-align: left;
}
.news-description{
color: #5A5A5D;
font-size: 16px;
font-weight: 400;
margin-bottom: 50px;
}

.news .news-content form{
    display: flex;
    flex-direction: column;
}
.sty{
    border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
padding: 10px;
margin-bottom: 20px;
}
.forming {
    display: flex;
    flex-direction: column;
    max-width: 500px; 
    text-align: left;
  }

  footer{
    width: 80%;
    height: 502px;
    margin: 40px auto;
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
  }
.pogo-section{
    display: flex;
    justify-content: center;
    align-items: center;
margin-top: 110px;
margin-bottom: 15px;

}
.footer-des{
    color: #5A5A5D;
text-align: center;
font-size: 16px;
font-weight: 400;
}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 100px;
}
.last{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}



.hori{
    color: black;
}


  @media screen and (max-width:576px)
  {
    .header-section {
        width: 95%;
        margin: 0;
        margin-bottom: 20px;
      }
      .logo-section {
        width: 100%;
        gap: 9px;
      }
      .logo-section img {
        margin-left:20px;
        height:  30px;
        
      }
      .logo-title {
        font-size: 21px;
      }
      .menu ul i {
        color: black;
        font-size: 24px;
      }
      .menu ul a {
        display: none;
      }


   .banner {
    width: 95%;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .banner .banner-title {
    font-size: 22px;
    padding-top: 32px;
    width: 90%;
    margin: auto;
  }
  .banner .banner-text {
    width: 90%;
    font-size: 14px;
    line-height: 21px;
    margin-top: 5px;
  }
  form{
    flex-direction: column;
    gap: 20px;
}

.inputs{
    width: 70.2%;
    height: 54px;
    border-radius: 8px;
background: #FFF;
padding-left: 16px;
}


#border-problem{
    border: none;
}
.weight-problem{
color: rgba(19, 19, 24, 0.50);
font-family: Mulish;
font-weight: 400;
font-size: 1rem;
}
  
.btn-primary{
width: 70.2%;
height: 54px;
border-radius: 8px;
background: #FF5400;
border: none;
color: #FFF;
font-size: 1rem;
font-weight: 700;
padding: 16px;
}

#line {
    display: flex;
    align-items: center;
    
}

.Populars {
    width: 90%;
    flex-direction: column;
    margin-top: -16px;
    margin-bottom: 24px;
  }
  .Popular-content {
    width: 100%;
  }
  .ccommon-title {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .Popular-description {
    font-size: 14px;
    margin-bottom: 16px;
    width: 340px;
  }
  .tours-images {
    width: 340px;
  }
  .tours-images {
    margin-top: 24px;
    margin-left: 0px;
  }


  .Destination-section {
    width: 95%;
    overflow: hidden;
  }

  .popular-text {
    width: 80%;
  }
  .container {
    margin: 0 auto;
    gap: 16px 16px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "Maldives"
      "Indonesia"
      "Srilanka"
      "North-America"
      "Kashmir"
      "Bangladesh"
      "Bandarban";
  }
  .container img {
    width: 95%;
  }
  .Agency {
    width: 95%;
    margin-bottom: 40px;
  }
  .card-section {
    grid-template-columns: repeat(1,1fr);
    margin-top: 16px;
  }
  .Handpicked-title{
    font-size: 20px;
  }
  .card-text{
    font-size: 14px;
    line-height: 24px;
    text-align:left;
  }

  .card-section .relative{
    position: static;
}
.blog-videos{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
 }
.videos{
    width: 350px;
    height: 300px;
}
.overall-news{
    width: 70%;
}
.news {
    grid-template-columns: repeat(1, 1fr);
}

.forming {
    
    max-width: 200px; 

  }
  


  