@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.header-section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.logo-section {
    display: flex;
    width: 40%;
    gap: 20px;
}

.logo-section img {
    height: 45px;
}

.logo-title {
    font-size: 36px;
    font-weight: 800;
}

.ban {
    color: forestgreen;
}

.glad {
    color: red;
}

.menu ul i {
    color: white;
  }
  
  .menu ul {
    display: flex;
    gap: 44px;
  }
  .menu ul a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
  }


  .banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/img1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 80%;
    height: 60vh;
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }
  
  .banner .banner-title {
    color: white;
    font-size: 64px;
    font-weight: 800;
    padding-top: 106px;
  }
  .banner .banner-text {
    color: white;
    width: 676px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }
  form{
    display: flex;
    width: 80%;
    align-items: center;
    margin: 20px auto;
    justify-content: space-around;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    
}

.inputs{
    width: 15.2%;
    height: 54px;
    border-radius: 8px;
background: #FFF;
padding-left: 16px;
}

.inputs:focus {
    outline: none; 
}

#border-problem{
    border: none;
}
.weight-problem{
color: rgba(19, 19, 24, 0.50);
font-family: Mulish;
font-weight: 400;
font-size: 1rem;
}
  
.btn-primary{
width: 15.2%;
height: 54px;
border-radius: 8px;
background: #FF5400;
border: none;
color: #FFF;
font-size: 1rem;
font-weight: 700;
padding: 16px;
}

#line {
    display: flex;
    align-items: center;
    
}

.Populars {
  width: 80%;
  margin: 100px auto;
  display: flex;
}
.Popular-content {
  width: 50%;
  padding: 20px;
}
.Popular-description{
margin: 20px 0;
}
.tours-images {
  display: block;
  width: 50%;
  height: 100%;
  align-items: center;
  margin-left: 53px;
}
.tours-images img {
  width: 100%;
}
.common-btn {
  border-radius: 8px;
  background: #ff5400;
  width: 174px;
  height: 52px;
  font-size: 20px;
  font-weight: 800;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}




  @media screen and (max-width:576px)
  {
    .header-section {
        width: 95%;
        margin: 0;
      }
      .logo-section {
        width: 100%;
        gap: 9px;
      }
      .logo-section img {
        width: 28px;
      }
      .logo-title {
        font-size: 21px;
      }
      .menu ul i {
        color: black;
        font-size: 24px;
      }
      .menu ul a {
        display: none;
      }


   .banner {
    width: 95%;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .banner .banner-title {
    font-size: 22px;
    padding-top: 32px;
    width: 90%;
    margin: auto;
  }
  .banner .banner-text {
    width: 90%;
    font-size: 14px;
    line-height: 21px;
    margin-top: 5px;
  }
  form{
    flex-direction: column;
    gap: 20px;
}

.inputs{
    width: 70.2%;
    height: 54px;
    border-radius: 8px;
background: #FFF;
padding-left: 16px;
}


#border-problem{
    border: none;
}
.weight-problem{
color: rgba(19, 19, 24, 0.50);
font-family: Mulish;
font-weight: 400;
font-size: 1rem;
}
  
.btn-primary{
width: 70.2%;
height: 54px;
border-radius: 8px;
background: #FF5400;
border: none;
color: #FFF;
font-size: 1rem;
font-weight: 700;
padding: 16px;
}

#line {
    display: flex;
    align-items: center;
    
}

.Populars {
    width: 90%;
    flex-direction: column;
    margin-top: -16px;
    margin-bottom: 24px;
  }
  .Popular-content {
    width: 100%;
  }
  .ccommon-title {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .Popular-description {
    font-size: 14px;
    margin-bottom: 16px;
    width: 340px;
  }
  .tours-images {
    width: 340px;
  }
  .tours-images {
    margin-top: 24px;
    margin-left: 0px;
  }

  }


  